<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144614401273-48a3opjjfdkds4panfoenorqm3nd6459.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144614401273-48a3opjjfdkds4panfoenorqm3nd6459</string>
	<key>API_KEY</key>
	<string>AIzaSyDl_1aya7DVlMy_Z41e_KeWJN8Rqw6jWKA</string>
	<key>GCM_SENDER_ID</key>
	<string>144614401273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>practice.MessageApp</string>
	<key>PROJECT_ID</key>
	<string>messageappios-11293</string>
	<key>STORAGE_BUCKET</key>
	<string>messageappios-11293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144614401273:ios:db8d1953b747f591</string>
	<key>DATABASE_URL</key>
	<string>https://messageappios-11293.firebaseio.com</string>
</dict>
</plist>